.button {
	padding: rem(5px) rem(10px);
	border: 1px solid $light-blue;
	color: $white;
	background-color: $blue;
	outline: none;
	cursor: pointer;

	&:hover {
		background-color: rgba($blue, .8);
	}

	&:active {
		box-shadow: inset 0 0 5px $black;
	}

	&_delete {
		background-color: $red;
		border-color: $red;

		&:hover {
			background-color: rgba($red, .8);
		}
	}
}
